<div class="container">
<div class="row">
    <div class="col-12">
    <div class="toplinks">
        <div id="loglink">
            <a href='#' id='bringloginform' routerLink='/loginform'>Login</a><br>
            <a href="#" routerLink="/findmovieform">Find a movie</a>
        </div>
        <div id="logdlink">
        <a href="#" id="logout" (click)="logout();" routerLink="/">Log out</a><br>
        <!-- <a href="#" (click)="writeReview(); $event.preventDefault();">Write a Review</a><br> -->
        <a href="#" routerLink="/review" [queryParams]="{ user: retrievedCurrUser }">My Profile</a><br>
        <a href="#" routerLink="/findmovieform">Find a movie</a>
        </div>
    </div>
    </div>
</div>
<router-outlet></router-outlet>
</div>



