<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 formholder"><h1>Find a Movie</h1>
<form  role="form" (ngSubmit)="getmovie()">
    <label>Type in Movie Title: </label><br>
    <input type="text" name="moviename" [(ngModel)]="moviename"><br>
    <label>Type in Movie Year:(optional) </label><br>
    <input type="text" name="movieyear" [(ngModel)]="movieyear"><br><br>
    <input type="submit" value="Find Movies">
</form>

<div id="currrevmoviehold"></div>
<div id="valuetoset"></div><br>
<input type="button" (click)="searchforrevs();" id="searchlink" value="See reviews for this movie">
</div>
<div class="col-md-2"></div>
</div>