<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 formholder"><h1>Write a Review</h1>
<!-- <form  role="form" (ngSubmit)="getmovie()">
    <label>Type in Movie Title: </label><br>
    <input type="text" name="moviename" [(ngModel)]="moviename"><br>
    <label>Type in Movie Year:(optional) </label><br>
    <input type="text" name="movieyear" [(ngModel)]="movieyear"><br><br>
    <input type="submit" value="Find Movies">
</form> -->

<div id="currrevmoviehold"></div>
<div id="valuetoset"></div>
<form id="movieformpart2" role="form" (ngSubmit)="savereview()">
    <label>Stars out of 5: </label><br>
    <div id="stars">
        
        <div class="ratebox" (mouseover)="staradjust(1)" (mouseout)="starmouseout()" (click)="handleStarsClick(1)" id="star1"></div>
        <div class="ratebox" (mouseover)="staradjust(2)" (mouseout)="starmouseout()" (click)="handleStarsClick(2)" id="star2"></div>
        <div class="ratebox" (mouseover)="staradjust(3)" (mouseout)="starmouseout()" (click)="handleStarsClick(3)" id="star3"></div>
        <div class="ratebox" (mouseover)="staradjust(4)" (mouseout)="starmouseout()" (click)="handleStarsClick(4)" id="star4"></div>
        <div class="ratebox" (mouseover)="staradjust(5)" (mouseout)="starmouseout()" (click)="handleStarsClick(5)" id="star5"></div>
        <div class="ratebox" (mouseover)="staradjust(6)" (mouseout)="starmouseout()" (click)="handleStarsClick(6)" id="star6"></div>
        <div class="ratebox" (mouseover)="staradjust(7)" (mouseout)="starmouseout()" (click)="handleStarsClick(7)" id="star7"></div>
        <div class="ratebox" (mouseover)="staradjust(8)" (mouseout)="starmouseout()" (click)="handleStarsClick(8)" id="star8"></div>
        <div class="ratebox" (mouseover)="staradjust(9)" (mouseout)="starmouseout()" (click)="handleStarsClick(9)" id="star9"></div>
        <div class="ratebox" (mouseover)="staradjust(10)" (mouseout)="starmouseout()" (click)="handleStarsClick(10)" id="star10"></div>
        <img src = "./assets/stars.png" class="starOverlay">
    </div>
    
    <label>Review: </label><br>
    <textarea name="revdesc" [(ngModel)]="revdesc" class="form-control" rows="4"></textarea><br><br>
    <input type="submit" value="Submit Review">
</form>
</div>
<div class="col-md-2"></div>
</div>
